main {
  min-height: calc(100vh - 200px);

}

.card-group {
  flex-wrap: wrap;
  padding: 20px 0;
  width: 900px;
  margin: 0 auto;
  .card {
    min-width: 300px;
    max-width: 300px;
  }
}



//
.home-ctr {
  padding-top: 130px;
  ul {
    list-style: none;
    padding-inline-start: 0px;
  }
}
